[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
flask = "*"
flask-restful = "*"
bigchaindb-driver = "*"
base58 = "*"
flask-testing = "*"
pyyaml = "*"
flask-jwt = "*"
bcrypt = "*"
ward = "==0.31.0b0"
hypothesis = "*"
pytest = "*"

[requires]
python_version = "3.6"
